<div class="component">
  <h3>{{ title }}</h3>

  <add-book [books]="books" />
  <edit-book [books]="books" />
  <books-list [books]="books" />

  <books-count [books]="books"></books-count>


<!--  <button #increment>counter++</button>-->
<!--  <signal [signalValue]="counter" [valueName]="'counter'" />-->
<!--  <signal [signalValue]="isEven" [valueName]="'isEven'" />-->
<!--  <message [message]="message" />-->
<!--  <linked-counter [counter]="counter" />-->
<!--  <unlinked-counter [counter]="counter" />-->
</div>

