<div class="menu">
  <a
    class="menu-item"
    [routerLink]="['cd-in-details']"
    routerLinkActive="active"
    >Change detection in details</a
  >
  <a
    class="menu-item"
    [routerLink]="['async-bindings']"
    routerLinkActive="active"
    >Async bindings</a
  >

  <a class="menu-item" [routerLink]="['onpush-demo']" routerLinkActive="active"
    >OnPush Demo</a
  >
  <a
    class="menu-item"
    [routerLink]="['onpush-bindings-demo']"
    routerLinkActive="active"
  >
    OnPush Bindings Demo</a
  >
  <a class="menu-item" [routerLink]="['signals-demo']" routerLinkActive="active"
    >Signals Demo</a
  >
</div>
<div class="page-container">
  <router-outlet></router-outlet>
</div>
<change-detection-demo-source-code-tooltip />
