<div class="component">
  <h3>Component {{ title }}</h3>
  <div>re-rendered: {{ countOfReRender }}</div>
  <change-detection-demo-source-code [instance]="instance" template="nodeC" />
  <change-detection-demo-source-code
    [instance]="instance"
    [combined]="['counterChange', 'updateCounter']"
  />
</div>
<div class="components">
  <onpush-bindings-node-c #nodeC (counterChange)="updateCounter($event)" />
  <onpush-bindings-node-d />
  <div class="binding">
    binding
    <change-detection-demo-source-code [instance]="instance" template="nodeE" />

    <onpush-bindings-node-e #nodeE [counter]="counter" />
  </div>
</div>
