<div class="onpush-node yellow">
  {{ title }}, rerender {{countOfReRender}}
  <div>Second counter: {{secondCounter}}</div>
  <button (click)="click($event)">Click me!</button>
  <div>
    <h3> Run second counter</h3>
    <button (click)="runSecondCounter()">Simple!</button>
    <button (click)="runSecondCounterWithMarkForCheck()">With markForCheck!</button>
    <button (click)="runSecondCounterWithMarkForCheckOutSideZone()">With markForCheck outside NgZone!</button>
    <button (click)="runSecondCounterWithDetectChangesOutSideZone()">With detectChanges outside NgZone!</button>
  </div>

  <onpush-node-e [counter]="secondCounter" />
</div>
