<div class="component">
  <h3>Component {{ title }}</h3>
  re-rendered: {{ countOfReRender }}

  <div>
    <button (click)="click($event)">Click me!</button>
    <change-detection-demo-source-code [instance]="instance" [method]="click" />
  </div>
  <div>
    <h3>Run counter with setInterval(1000)</h3>
    <div>
      <button (click)="runCounter()">Simple!</button>
      <change-detection-demo-source-code
        [instance]="instance"
        [method]="runCounter"
      />
    </div>
    <div>
      <button (click)="runCounterWithMarkForCheck()">With markForCheck!</button>
      <change-detection-demo-source-code
        [instance]="instance"
        [method]="runCounterWithMarkForCheck"
      />
    </div>
    <div>
      <button (click)="runCounterWithMarkForCheckOutSideZone()">
        With markForCheck outside NgZone!
      </button>
      <change-detection-demo-source-code
        [instance]="instance"
        [method]="runCounterWithMarkForCheckOutSideZone"
      />
    </div>
    <div>
      <button #runOutsideZone>
        With detectChanges outside NgZone!
      </button>
      <change-detection-demo-source-code
        [instance]="instance"
        [combined]="['runOutsideZone', 'ngAfterViewInit', 'runCounterWithDetectChangesOutSideZone']"
      />
    </div>
  </div>

  <div>Second counter: {{ counter }}</div>
</div>
<div class="components">
  <div class="binding">
    binding
    <change-detection-demo-source-code [instance]="instance" template="nodeE" />
    <onpush-node-e #nodeE [counter]="counter" />
  </div>
  <onpush-node-j />
</div>
